<html>
<head><title>$title<title></head>
<body>
<h1>$title</h1>
<table border=1 cellspacing=0 cellpadding=3>
<tr><th>Title</th><th>Date</th><th>TaskID</th><th># Reports</th></tr>
#foreach($task in $tasks)
  <tr>
    <td><a href="/reports/$task.taskId">$task.title</a></td>
    <td>$task.firstSeen</td>
    <td>$task.taskId</td>
    <td>$task.numReports</td>
  </tr>
#end
<table>
#if($showStats)
  <p>
  Database size: $reportStore.numTasks() tasks, $reportStore.numReports() reports.
  </p>
#end
</body>
</html>