## Render a list of tasks, in $tasks, as HTML. The page title is $title. If
## $showStats is true, also show database statistics, obtained through the
## QueryableReportStore bound to $reportStore.
<html>
<head><title>$title<title></head>
<body>
<form action="#" method="get" name="searchForm" onSubmit="doSearch(); return false;">
<p>
<script language="javascript"><!--
function doSearch() {
  document.location.href = 
    "/" + document.searchForm.searchType.value + "/" + document.searchForm.query.value;
}
//--></script>
<a href="/">Return Home</a> | 
Search by
<select name="searchType">
<option selected value="titleLike">title</option>
<option value="tag">tag</option>
</select>
<input name="query" value="" />
<input type="submit" value="Go" />
</p>
</form>
<h1>$title</h1>
#parse("navbar.vm")
<table border=1 cellspacing=0 cellpadding=3>
<tr>
  <th>Trace Title</th>
  <th>Reports</th>
  <th>Created</th>
  <th>Last Report</th>
  <th>TaskID</th>
  <th>Tags</th>
  <th>Graphs</th>
</tr>
#foreach ($task in $tasks)
  <tr>
    <td><a href="/title/$task.title">$task.title</a></td>
    <td><a href="/reports/${task.taskId}">$task.numReports</a></td>
    <td>$HTML_DATE_FORMAT.format($task.firstSeen)</td>
    <td>$HTML_DATE_FORMAT.format($task.lastUpdated)</td>
    <td><tt>$task.taskId</tt></td>
    <td>
    #foreach ($tag in $task.tags)
      <a href="/tag/$tag">$tag</a>#if($velocityCount<$task.tags.size()),#end
    #end
    </td>
    <td>
      <a href="/graph.rb?taskid=$task.taskId">Applet</a>,
      <a href="/graph.rb?taskid=$task.taskId&format=gif">GIF</a>,
      <a href="/graph.rb?taskid=$task.taskId&format=pdf">PDF</a>
    </td>
  </tr>
#end
</table>
#parse("navbar.vm")
<form action="$request.requestURI" method="get">
<p>
<input type="hidden" name="offset" value="$offset" />
Results per page: <input type="text" name="length" value="$length" size="6" />
<input type="submit" value="Change" />
</P> 
</form>
#if ($showStats)
  <hr />
  <p>Database size: $reportStore.numTasks() tasks, $reportStore.numReports() reports.</p>
#end
</body>
</html>