[
#foreach($task in $tasks)
  {
    "taskId": "$task.taskId", 
    "title": "$task.title", 
    "firstSeen": "$dateFormat.format($task.firstSeen)",
    "lastUpdated": "$dateFormat.format($task.lastUpdated)",
    "numReports": "$task.numReports"
  }
#end
]